services:
  # API ASP.NET Core
  - type: web
    name: smartnest
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: ./
    plan: free
    region: frankfurt
    healthCheckPath: /health
  
