services:
  # API ASP.NET Core
  - type: web
    name: smartnest
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: ./
    plan: free
    region: frankfurt
    healthCheckPath: /health
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ASPNETCORE_URLS
        value: http://0.0.0.0:$PORT